*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

.card-purple{
  background-color: rgb(143,143,211);
}

.sunsetTop{
  background-color: #A865B5;
}

.sunsetRed {
  background-color: #E43414;
}